* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

.navbar {
    background-color: transparent;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.navbar ul {
    list-style-type: none;
}

.navbar li {
    display: inline-block;
}

.navbar a {
    color: #90e0ef;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 1rem;
    transition: all 0.3s ease;
    justify-content: center;
    align-items: center;
}

canvas {
    display: block;
}

/* Centered birthday text */
.birthday-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #90e0ef;
    font-size: 2rem; /* Adjust font size for better visibility */
    font-weight: bold;
    white-space: nowrap; /* Prevent text from wrapping */
    text-align: center; /* Ensure it's centered horizontally */
    text-decoration: none;
    font-family: 'Kumbh Sans', sans-serif;
}

/* Hover effect */
.birthday-text:hover {
    color: #023e8a;
    transition: 0.3s ease-in;
}

/* Responsive styles for different screen sizes */
@media (max-width: 600px) {
    .birthday-text {
        font-size: 1.5rem; /* Adjust font size for smaller screens */
    }
}

@media (min-width: 601px) {
    .birthday-text {
        font-size: 2rem; /* Larger font size for bigger screens */
    }
}
