*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

.navbar {
    background-color: black;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; /* Fixed position */
    top: 0; /* Stick it to the top */
    width: 100%; /* Full width of the screen */
    z-index: 999; /* Make sure it's on top of other elements */
}

.navbar ul {
    list-style-type: none;
}

.navbar li {
    display: inline-block;
}

.navbar a {
    color: #023e8a; /* Text color */
    background: #90e0ef;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 1.2rem;
    transition: all 0.3s ease;
}

.navbar a:hover {
    background-color: #023e8a; /* Background color when hovered *
    transition: all 0.3s ease;
}

body {
    padding-top: 80px; /* Prevent content from hiding under the navbar */
}

canvas {
    display: block;
}

.birthday-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #90e0ef;
    font-size: 48px;
    font-weight: bold;
    text-decoration: none; /* Remove underline */
    font-family: 'Kumbh Sans', sans-serif; /* Ensure correct font family */
}

.birthday-text:hover {
    color: #023e8a;
    transition: 0.3s ease-in;
}

@media (max-width: 600px) {
    /* Styles for mobile devices */
  }
  @media (min-width: 601px) {
    /* Styles for tablets and desktops */
  }

